{% extends 'master.html' %}

{% block title %}
Posts
{% endblock %}

{% block body %}
<div class="grid">
    {% for post in posts %}
    <a href="post/{{ post.id }}" style="text-decoration: none;">
        <div class="grid-item">
            <div class="title">{{ post.title }}</div>
            <div class="category">{{ post.category.name }}</div>
            <div class="content">{{ post.content }}</div>
            <div class="date">{{ post.date_published }}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}